ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}

.right_link {
    float: right;
}

.center {
    display: block;
    margin: auto;
    margin-top: 200px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search {
    text-align: center;
}